*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: monospace;
    font-size: 62.5%;
}

section{
    box-shadow:0px 4px 5px -1px rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    margin: 5.0rem auto;
    padding: 1rem;
    width: 250px;
    background-color: lightskyblue;
}

section h1{
    font-size: 3.6rem;
    padding-top: 1.5rem;
    padding-left: 4rem;
}

.form-struct{
    padding-top: 1.5rem;
    padding-left: 4rem;
    font-size: 1.6rem;
}

.form-struct input{
    border-style: solid;
    border-color: white;
    outline-style: none;
    border-radius: 0.5rem;
    padding: 0.2rem;
    margin: 1rem 0;
    display: block;
}

.form-struct button{
    border-style: solid;
    border-radius: 0.5rem;
    border:none;
    outline-style: none;
    background-color:#065b90;
    font-weight: bold;
    color: #e5f5fe;
    margin-top: 1rem;
    padding: 1rem 4rem;
}

.form-struct button:hover{
    transition: 0.5s;
    background-color: #087fc8;
}

.form-struct a{
    text-decoration: none;
    color: #065b90;
    font-size: 1.4rem;
    font-weight: 600;
}
